

<nav class="navbar navbar-expand-lg bg-body-tertiary mb-5 ">
  <div class="container">
    <div class="row w-100 align-items-center">
      </div>
      <div class="col-lg-12">
        <button class="navbar-toggler collapsed humburger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="toggler-icon top-bar"></span>
          <span class="toggler-icon middle-bar"></span>
          <span class="toggler-icon bottom-bar"></span>
        </button>


        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link navtext" aria-current="page" href="{{ path('app_portfolio') }}">Accueil</a>
            <a class="nav-link navtext" href="{{ path('Profil') }}">Profil</a>
            <a class="nav-link navtext" href="{{ path('Skill') }}">Compétences</a>
            <a class="nav-link navtext" href="{{ path('app_contact') }}">Contact</a>
            <a class="nav-link moncv" href="{{asset('divers/images/cv.pdf')}}"><i class="fa-solid fa-download"></i>Mon CV</a>
          </div>
        </div>
      </div>
      
      


  
      </div>
    </div>
  </div>
</nav>


